@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<p>@ViewBag.Message</p>

<h3>Getting the MVC model to the client and back again.</h3>
<div class="list-group">
    <a href="@Url.Action("HallOfFame")" class="list-group-item">
        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-bookmark"></span> Knockout Mapping</h4>
        <p class="list-group-item-text">An example showing the use of JSON encoding and the ko.mapping extensions to map a server side C# model to a client side JavaScript Knockout ViewModel.</p>
    </a>

    <a href="@Url.Action("EditHallOfFame")" class="list-group-item">
        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-bookmark"></span> Receiving JSON in a MVC Controller</h4>
        <p class="list-group-item-text">An example showing how JSON sent by the client as JSON can be bound to a C# model within an MVC controller.</p>
    </a>

    <a href="@Url.Action("HallOfFameWithJsonNet")" class="list-group-item">
        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-bookmark"></span> Why use JSON.NET</h4>
        <p class="list-group-item-text">An example illustraing why the JSON.NET serialiser should be used over the MS.NET version.</p>
    </a>
</div>

<h3>AJAX</h3>
<div class="list-group">
    <a href="@Url.Action("HallOfFameAjax")" class="list-group-item">
        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-bookmark"></span>Fetching the model with AJAX</h4>
        <p class="list-group-item-text">An example showing how the model can be obtained via AJAX.</p>
    </a>
    <a href="@Url.Action("SearchExample")" class="list-group-item">
        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-bookmark"></span> Search Example</h4>
        <p class="list-group-item-text">An example illustraing the use of knockout to update you UI when fetching data via AJAX requests.</p>
    </a>
</div>

<h3>Knockout Islands</h3>
<div class="list-group">
    <a href="@Url.Action("KnockoutIsland")" class="list-group-item">
        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-bookmark"></span> A Knockout island</h4>
        <p class="list-group-item-text">An example illustraing the use of knockout to manage a collection of items within a tradintional MVC form.</p>
    </a>
</div>
