@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>

<h3>What is KnockoutJS?</h3>
<p>
    KnockoutJS is a JavaScript library that provides an MVVM pattern for use within your HTML user interface.
    It is intended to make it easier to create a rich user experience while simplifying the JavaScript you need to write.
    Knockout handles the update of the DOM for you once you have declared the bindings.

    Knockout is designed to compliment your existing JavaScript frameworks such as JQuery. It does not have despondencies on or prescribe the use of any JavaScript library. 

    Knockout is purely a client side library and can be used with any back-end technology.
</p>

<h3>How do I get KnockoutJS?</h3>
<p>
    <div>
        You can get it directly from <a href="http://knockoutjs.com/">knockoutjs.com/</a>. It is distributed by various CDN's for live use.
        For ASP.NET applications it is available as a package from NuGet <a href="http://www.nuget.org/packages/knockoutjs">nuget.org/packages/knockoutjs</a>
        <br />
        Knockout is at version 3 (at time of going to press in Nov 2013).
    </div>
</p>

<h3>How do I use KnockoutJS?</h3>
<div class="list-group">
    <a href="@Url.Action("HelloCraftyCoders")" class="list-group-item">
        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-bookmark"></span> Hello Crafty Coders Example</h4>
        <p class="list-group-item-text">A simple example to introduce binding</p>
    </a>

    <a href="@Url.Action("Observable")" class="list-group-item">
        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-bookmark"></span> Observables I - Observable</h4>
        <p class="list-group-item-text">An example using ko.observable properties.</p>

    </a>

    <a href="@Url.Action("Computed")" class="list-group-item">
        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-bookmark"></span> Observables II - Computed</h4>
        <p class="list-group-item-text">An example using ko.computed properties.</p>
    </a>

    <a href="@Url.Action("ObservableArray")" class="list-group-item">
        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-bookmark"></span> Observables III - Observable Array</h4>
        <p class="list-group-item-text">An example using ko.observableArray.</p>
    </a>
</div>