@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    1. What is KnockoutJS. A JavaScript library that provides an MVVM pattern for use within your HTML user interface.
    It is intended to make it easier to create a rich user experiance while simplifying the JavaScript you need to write.
    Knockout handles the update of the DOM for you once you have declared the bindings.
</p>
<p>
    2. Get KnockoutJS. Either get it directly from <a href="http://knockoutjs.com/">http://knockoutjs.com/</a>
    or use NuGet <a href="http://www.nuget.org/packages/knockoutjs">http://www.nuget.org/packages/knockoutjs</a>
    Knockout is now at version 3 (at time of going to press Nov 2013).
</p>
<p>
    3. Hello Crafty Coders Example @Html.ActionLink(" >> ", "HelloCraftyCoders", null, new { @class = "btn btn-default" })
</p>
<p>
    4. Observables @Html.ActionLink(" >> ", "Observable", null, new { @class = "btn btn-default" })
</p>
<p>
    5. Computed @Html.ActionLink(" >> ", "Computed", null, new { @class = "btn btn-default" })
</p>

