<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crafty Knockout</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta name="description" content="Crafty Knockout is an ASP.NET application created to facilitate a presentation about KnockoutJS" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>*@
                <div id="logo_text">
                    <h1 class=" title">
                        <a href="@Url.Action("Index", "Home")">
                            crafty<span class="logo_colour">Knockout</span>
                        </a>
                    </h1>
                </div>
                </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Part I", "Index", "GettingStarted")</li>
                    <li>@Html.ActionLink("Part II", "Index", "IntegrationWithMvc")</li>
                    <li>@Html.ActionLink("Part III", "Index", "Analysis")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <div class="footer-container">
        <footer class="panel-footer container">
            <ul>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
            <h5>&copy; @DateTime.Now.Year - Crafty Knockout by Steve Forth  - @typeof(CraftyKnockoutMvc.MvcApplication).Assembly.GetName().Version</h5>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
